@import '../auth/auth.component.scss';

.backRight {
  position: absolute;
  right: 0;
  width: 100%;
  height: 100%;
  background: #e84d1c;
  background-size: cover;
  background-position: 50% 50%;
}

#slideBox {
  width: 50%;
  max-height: 100%;
  height: 100%;
  overflow: hidden;
  margin: 0 25%;
  position: absolute;
}

.content {
  h2 {
    color: #fff;
    font-weight: 300;
    font-size: 35px;
    margin-bottom: 5%;
  }
}

.message-text {
  top: 40%;
  position: relative;
  span {
    color: #fff;
    font-size: 18px;
    margin: 25% 25%;
  }
  .back-1{
    margin: 5% 25%;
    a{
      color: #fff;
    }
  }
}

.reset-form {
  margin: 0 25%;
}

.text-error{
  color: #fffa05 !important;
  font-size: 14px !important;
}

.form-input {
  width: 100%;
}

.form-button {
  width: 100%;
}
