<div id="back">
  <div class="backRight"></div>
</div>

<div id="slideBox">
  <div class="topLayer">
    <div class="right">
      <div class="col-md-4 col-sm-4 col-sm-offset-4 logo">
        <img src="../../../../assets/corporate/img/logos/logo.png" class="img-responsive center-block" alt="Rounded Image">
      </div>

      <div *ngIf="!resetToken" class="message-text">
        <form class="reset-form" (ngSubmit)="sendRequest()" [formGroup]="emailForm">
          <div class="form-group">
            <label class="sr-only" for="email">Email</label>
            <input type="email" formControlName="email" placeholder="Email..." class="form-input form-control">
            <span [hidden]="emailForm.controls.email.valid || (emailForm.controls.email.pristine && !emailForm.submitted)" class="text-error">
              Email is invalid !
            </span>
          </div>
          <button type="submit" [disabled]="!emailForm.valid" class="btn btn-primary form-button">Reset password!</button>
        </form>
        <span><i>{{message}}</i></span>
        <div class="back-1">
          <i class="fa fa-long-arrow-left" aria-hidden="true"></i> 
          <a [routerLink]="['/home']">Back to homepage</a>
        </div>
      </div>

      <div *ngIf="resetToken" class="message-text">
        <form class="reset-form" (ngSubmit)="reset()" [formGroup]="resetForm">
          <div class="form-group">
            <label class="sr-only" for="password">Password</label>
            <input type="password" formControlName="password" placeholder="Password..." 
            class="form-input form-control">
            <span [hidden]="resetForm.controls.password.valid || (resetForm.controls.password.pristine && !resetForm.submitted)" class="text-error">
              Password must enter first!
            </span>
          </div>
          <div class="form-group">
            <label class="sr-only" for="confirmationPassword">Confirmation password</label>
            <input type="password" formControlName="password_confirmation" placeholder="Confirm password..." class="form-input form-control">
            <span [hidden]="resetForm.controls.password_confirmation.valid || (resetForm.controls.password_confirmation.pristine && !resetForm.submitted)" class="text-error">
              Password does not match the confirm password!
            </span>
          </div>
          <button type="submit" [disabled]="!resetForm.valid" class="btn btn-primary form-button">Reset!</button>
        </form>
        <div *ngIf="success === 'Reset password successfully!'" class="back-1">
          <a [routerLink]="['/login']"><strong>Login now!</strong></a>
        </div>
      </div>
    </div>
  </div>
</div>
