 <!-- BEGIN TOP BAR -->
 <div class="pre-header">
  <div class="container">
    <div class="row">
      <!-- BEGIN TOP BAR LEFT PART -->
      <div class="col-md-6 col-sm-6 additional-shop-info">
        <ul class="list-unstyled list-inline">
          <li><i class="fa fa-phone"></i><span>+1 456 6717</span></li>
          <!-- BEGIN LANGS -->
          <li class="langs-block">
            <a  class="current"><span class="flag-icon flag-icon-gb"></span>English</a>
            <div class="langs-block-others-wrapper"><div class="langs-block-others">
              <a ><span class="flag-icon flag-icon-vn"></span>Vietnamese</a>
            </div></div>
          </li>
          <!-- END LANGS -->
        </ul>
      </div>
      <!-- END TOP BAR LEFT PART -->
      <!-- BEGIN TOP BAR MENU -->
      <div class="col-md-6 col-sm-6 additional-nav">
        <ul *showAuthed="false" class="list-unstyled list-inline pull-right">
          <li><a [routerLink]="['/request_new_seller']">Become new seller with SUPERSHOP</a></li>
          <li><a [routerLink]="['/login']">Log In</a></li>
          <li><a [routerLink]="['/register']">Sign Up</a></li>
        </ul>
        <ul *showAuthed="true" class="list-unstyled list-inline pull-right">
          <li><a [routerLink]="['/request_new_seller']">Become new seller with SUPERSHOP</a></li>
          <li><a [routerLink]="['/logout']">Logout</a></li>
          <li>
            <a [routerLink]="['/profile']">
              <!-- <img [src]="currentUser.avatar" *ngIf="currentUser.avatar" class="user-pic" /> -->
              {{ currentUser.username }}
            </a>
          </li>
        </ul>
      </div>
      <!-- END TOP BAR MENU -->
    </div>
  </div>        
</div>
<!-- END TOP BAR -->

<!-- BEGIN HEADER -->
<div class="header" sticker>
  <div class="container">
    <a class="site-logo" [routerLink]="['']"><img src="assets/corporate/img/logos/logo-shop-red.png" alt=""></a>

    <a class="mobi-toggler"><i class="fa fa-bars"></i></a>

    <!-- BEGIN CART -->
    <div class="top-cart-block">
      <div class="top-cart-info">
        <a  class="top-cart-info-count">{{quantity}} items</a>
        <a  class="top-cart-info-value">${{totalPrice}}</a>
      </div>
      <i class="fa fa-shopping-cart"></i>
      
      <div class="top-cart-content-wrapper">
        <div class="top-cart-content" *ngIf="cart.length > 0">
          <ul class="scroller" slimScroll height="auto" position="right" >
            <li *ngFor="let c of cart">
              <a>
                <img src="{{c.image | imageCart}}" alt="Rolex Classic Watch" width="37" height="34">
              </a>
              <span class="cart-content-count">x {{c.quantity}}</span>
              <strong><a [routerLink]="['/home/product/', c.slug]">{{c.name}}</a></strong>
              <em>${{c.price * c.quantity}}</em>
              <a class="del-goods" (click)="deleteCart(c)">&nbsp;</a>
            </li>
          </ul>
          <div class="text-right">
            <a [routerLink]="['/home/cart']" class="btn btn-default">View Cart</a>
            <a [routerLink]="['/checkout']" class="btn btn-primary">Checkout</a>
          </div>
        </div>
        <div class="top-cart-content" *ngIf="cart.length === 0">
          <ul class="scroller" slimScroll height="auto" position="right" *ngIf="cart.length === 0">
            <li>
              No product!
            </li>
          </ul>
        </div>
      </div>            
    </div>
    <!--END CART -->

    <!-- BEGIN NAVIGATION -->
    <div class="header-navigation">
      <ul>
        <!-- BEGIN ALL SHOP -->
        <li class="nav-catalogue">
          <a [routerLink]="['/home/shops']">
            All Shops
          </a>
        </li>
        <!-- END ALL SHOP -->

        <!-- BEGIN TOP SEARCH -->
        <li class="menu-search" >
          <div class="form-search">
            <form action="">
              <div class="input-group">
                <input type="text" class="form-control" placeholder="Search" name="q" 
                [(ngModel)]='keyword'>
                <div class="input-group-btn">
                  <button class="btn btn-default" (click)="search()"><i class="glyphicon glyphicon-search"></i></button>
                </div>
              </div>
            </form>
          </div>
        </li>
        <!-- END TOP SEARCH -->
      </ul>
    </div>
    <!-- END NAVIGATION -->
  </div>
</div>
<!-- Header END -->
