<!-- BEGIN CONTENT -->

<div class="row list-view-sorting clearfix">
  <div class="col-md-2 col-sm-2 list-view">
    <a href=""><i class="fa fa-th-large"></i></a>
    <a href=""><i class="fa fa-th-list"></i></a>
  </div>
  <div class="col-md-10 col-sm-10">
    <div class="pull-right">
      <label class="control-label">Sort&nbsp;By:</label>
      <select class="form-control input-sm">
        <option value="#?sort=p.sort_order&amp;order=ASC" selected="selected">Default</option>
        <option value="#?sort=pd.name&amp;order=ASC">Name (A - Z)</option>
        <option value="#?sort=pd.name&amp;order=DESC">Name (Z - A)</option>
        <option value="#?sort=p.price&amp;order=ASC">Price (Low &gt; High)</option>
        <option value="#?sort=p.price&amp;order=DESC">Price (High &gt; Low)</option>
        <option value="#?sort=rating&amp;order=DESC">Rating (Highest)</option>
        <option value="#?sort=rating&amp;order=ASC">Rating (Lowest)</option>
        <option value="#?sort=p.model&amp;order=ASC">Model (A - Z)</option>
        <option value="#?sort=p.model&amp;order=DESC">Model (Z - A)</option>
      </select>
    </div>
  </div>
</div>
<!-- BEGIN PRODUCT LIST -->
<ul class="row product-list">
  <!-- PRODUCT ITEM START -->
  <li *ngFor="let product of products">
    <div class="product-item">
      <div class="pi-img-wrapper">
        <img src="{{product.images[0] | imageProduct }}" class="img-responsive" alt="Berry Lace Dress">
        <div>
          <a href="{{product.images[0] | imageProduct }}" class="btn btn-default fancybox-button">Zoom</a>
          <a (click)="view(product)" class="btn btn-default fancybox-fast-view">View
          </a>
        </div>
      </div>
      <h3><a href="shop-item.html">{{product.name}}</a></h3>
      <div class="pi-price">$ {{product.price}}</div>
      <a href="" class="btn btn-default add2cart">Add to cart</a>
    </div>
  </li>
</ul>
<!-- END PRODUCT LIST -->
<!-- BEGIN PAGINATOR -->
<div class="row margin-top-10 margin-bottom-40">
  <div class="col-md-4 col-sm-4 items-info">Items 1 to 9 of 10 total</div>
  <div class="col-md-8 col-sm-8">
    <ul class="pagination pull-right">
      <li><a href="">&laquo;</a></li>
      <li><a href="">1</a></li>
      <li><span>2</span></li>
      <li><a href="">3</a></li>
      <li><a href="">4</a></li>
      <li><a href="">5</a></li>
      <li><a href="">&raquo;</a></li>
    </ul>
  </div>
  <!-- END PAGINATOR -->
</div>
<!-- END CONTENT -->

<!-- BEGIN fast view of a product -->

<div id="product-pop-up" style="display: none; width: 700px;"
*ngIf="product != null || product != undefined">
<div class="product-page product-pop-up">
  <div class="row">
    <div class="col-md-6 col-sm-6 col-xs-3">
      <div class="product-main-image">
        <img src="{{product.images[0] | imageProduct }}" alt="Cool green dress with red bell" class="img-responsive">
      </div>
      <div class="product-other-images">
        <a href="javascript:;" class="active"><img alt="Berry Lace Dress" 
          src="assets/pages/img/products/model7.jpg"></a>
          <a href="javascript:;"><img alt="Berry Lace Dress" src="assets/pages/img/products/model4.jpg"></a>
          <a href="javascript:;"><img alt="Berry Lace Dress" src="assets/pages/img/products/model5.jpg"></a>
        </div>
      </div>
      <div class="col-md-6 col-sm-6 col-xs-9">
        <h1>{{product.name}}</h1>
        <div class="price-availability-block clearfix">
          <div class="price">
            <strong><span>$</span>{{product.price}}</strong>
            <em>$<span>62.00</span></em>
          </div>
          <div class="availability">
            Availability: <strong>In Stock</strong>
          </div>
        </div>
        <div class="description">
          <p>{{product.description}}</p>
        </div>
        <div class="product-page-cart">
          <div class="product-quantity">
            <input id="product-quantity" type="text" value="1" readonly name="product-quantity" class="form-control input-sm">
          </div>
          <button class="btn btn-primary btn-cart" type="submit">Add to cart</button>
          <a href="shop-item.html" class="btn btn-default">More details</a>
        </div>
      </div>
      <div class="sticker sticker-sale"></div>
    </div>
  </div>
</div>
    <!-- END fast view of a product -->