/* Reset rounded corners for all elements */

div, input, select, textarea, span, img, table, label, td, th, p, a, button, ul, code, pre, li {
  -webkit-border-radius: 0 !important;
  -moz-border-radius: 0 !important;
  border-radius: 0 !important;
}

a {
  outline: 0;
  &:focus, &:hover, &:active {
    outline: 0;
  }
}

/*Fix for Firefox*/

button::-moz-focus-inner, input::-moz-focus-inner {
  border: 0;
}

/* Bootstrap buttons */

.btn-primary {
  color: #fff;
  background-color: #428bca;
  border: none;
  &:hover, &:focus, &:active, &.active {
    color: #fff;
    background-color: #3379b5;
    border-color: #2a6496;
  }
}

.open .btn-primary.dropdown-toggle {
  color: #fff;
  background-color: #3379b5;
  border-color: #2a6496;
}

.btn-primary {
  &:active, &.active {
    background-image: none;
    background-color: #2d6ca2;
  }
  &:active:hover, &.active:hover {
    background-color: #3071a9;
  }
}

.open .btn-primary.dropdown-toggle {
  background-image: none;
}

.btn-primary {
  &.disabled {
    background-color: #428bca;
    border-color: #357ebd;
    &:hover, &:focus, &:active, &.active {
      background-color: #428bca;
      border-color: #357ebd;
    }
  }
  &[disabled] {
    background-color: #428bca;
    border-color: #357ebd;
    &:hover, &:focus, &:active, &.active {
      background-color: #428bca;
      border-color: #357ebd;
    }
  }
}

fieldset[disabled] .btn-primary {
  background-color: #428bca;
  border-color: #357ebd;
  &:hover, &:focus, &:active, &.active {
    background-color: #428bca;
    border-color: #357ebd;
  }
}

.btn-primary .badge {
  color: #428bca;
  background-color: #fff;
}

.btn-success {
  color: #fff;
  background-color: #45B6AF;
  border-color: #3ea49d;
  &:hover, &:focus, &:active, &.active {
    color: #fff;
    background-color: #3b9c96;
    border-color: #307f7a;
  }
}

.open .btn-success.dropdown-toggle {
  color: #fff;
  background-color: #3b9c96;
  border-color: #307f7a;
}

.btn-success {
  &:active, &.active {
    background-image: none;
    background-color: #348a84;
  }
  &:active:hover, &.active:hover {
    background-color: #37918b;
  }
}

.open .btn-success.dropdown-toggle {
  background-image: none;
}

.btn-success {
  &.disabled {
    background-color: #45B6AF;
    border-color: #3ea49d;
    &:hover, &:focus, &:active, &.active {
      background-color: #45B6AF;
      border-color: #3ea49d;
    }
  }
  &[disabled] {
    background-color: #45B6AF;
    border-color: #3ea49d;
    &:hover, &:focus, &:active, &.active {
      background-color: #45B6AF;
      border-color: #3ea49d;
    }
  }
}

fieldset[disabled] .btn-success {
  background-color: #45B6AF;
  border-color: #3ea49d;
  &:hover, &:focus, &:active, &.active {
    background-color: #45B6AF;
    border-color: #3ea49d;
  }
}

.btn-success .badge {
  color: #45B6AF;
  background-color: #fff;
}

.btn-info {
  color: #fff;
  background-color: #89C4F4;
  border-color: #72b8f2;
  &:hover, &:focus, &:active, &.active {
    color: #fff;
    background-color: #68b4f1;
    border-color: #43a1ed;
  }
}

.open .btn-info.dropdown-toggle {
  color: #fff;
  background-color: #68b4f1;
  border-color: #43a1ed;
}

.btn-info {
  &:active, &.active {
    background-image: none;
    background-color: #51a8ef;
  }
  &:active:hover, &.active:hover {
    background-color: #5aadf0;
  }
}

.open .btn-info.dropdown-toggle {
  background-image: none;
}

.btn-info {
  &.disabled {
    background-color: #89C4F4;
    border-color: #72b8f2;
    &:hover, &:focus, &:active, &.active {
      background-color: #89C4F4;
      border-color: #72b8f2;
    }
  }
  &[disabled] {
    background-color: #89C4F4;
    border-color: #72b8f2;
    &:hover, &:focus, &:active, &.active {
      background-color: #89C4F4;
      border-color: #72b8f2;
    }
  }
}

fieldset[disabled] .btn-info {
  background-color: #89C4F4;
  border-color: #72b8f2;
  &:hover, &:focus, &:active, &.active {
    background-color: #89C4F4;
    border-color: #72b8f2;
  }
}

.btn-info .badge {
  color: #89C4F4;
  background-color: #fff;
}

.btn-warning {
  color: #fff;
  background-color: #dfba49;
  border-color: #dbb233;
  &:hover, &:focus, &:active, &.active {
    color: #fff;
    background-color: #daae2b;
    border-color: #bb9521;
  }
}

.open .btn-warning.dropdown-toggle {
  color: #fff;
  background-color: #daae2b;
  border-color: #bb9521;
}

.btn-warning {
  &:active, &.active {
    background-image: none;
    background-color: #c89f23;
  }
  &:active:hover, &.active:hover {
    background-color: #d0a625;
  }
}

.open .btn-warning.dropdown-toggle {
  background-image: none;
}

.btn-warning {
  &.disabled {
    background-color: #dfba49;
    border-color: #dbb233;
    &:hover, &:focus, &:active, &.active {
      background-color: #dfba49;
      border-color: #dbb233;
    }
  }
  &[disabled] {
    background-color: #dfba49;
    border-color: #dbb233;
    &:hover, &:focus, &:active, &.active {
      background-color: #dfba49;
      border-color: #dbb233;
    }
  }
}

fieldset[disabled] .btn-warning {
  background-color: #dfba49;
  border-color: #dbb233;
  &:hover, &:focus, &:active, &.active {
    background-color: #dfba49;
    border-color: #dbb233;
  }
}

.btn-warning .badge {
  color: #dfba49;
  background-color: #fff;
}

.btn-danger {
  color: #fff;
  background-color: #F3565D;
  border-color: #f13e46;
  &:hover, &:focus, &:active, &.active {
    color: #fff;
    background-color: #f1353d;
    border-color: #ec111b;
  }
}

.open .btn-danger.dropdown-toggle {
  color: #fff;
  background-color: #f1353d;
  border-color: #ec111b;
}

.btn-danger {
  &:active, &.active {
    background-image: none;
    background-color: #ef1d26;
  }
  &:active:hover, &.active:hover {
    background-color: #f0262f;
  }
}

.open .btn-danger.dropdown-toggle {
  background-image: none;
}

.btn-danger {
  &.disabled {
    background-color: #F3565D;
    border-color: #f13e46;
    &:hover, &:focus, &:active, &.active {
      background-color: #F3565D;
      border-color: #f13e46;
    }
  }
  &[disabled] {
    background-color: #F3565D;
    border-color: #f13e46;
    &:hover, &:focus, &:active, &.active {
      background-color: #F3565D;
      border-color: #f13e46;
    }
  }
}

fieldset[disabled] .btn-danger {
  background-color: #F3565D;
  border-color: #f13e46;
  &:hover, &:focus, &:active, &.active {
    background-color: #F3565D;
    border-color: #f13e46;
  }
}

.btn-danger .badge {
  color: #F3565D;
  background-color: #fff;
}

