/* You can add global styles to this file, and also import other style files */
/* FIX styles BEGIN */

.page-header-fixed .header {
  position: fixed !important;
  top: 0;
  left: 0;
  width: 100%;
  z-index: 99999;
}

body.page-header-fixed {
  padding-top: 88px !important;
  /* height of the header */
}

/* FIX styles END */